html, body {
	padding: 0;
	margin: 0;
}

body {
	font-family: "lucida grande", "lucida sans unicode",
		lucida, helvetica, "Hiragino Sans GB",
		"Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
	display: table;
}

input {
	padding: 0.3em 0.6em;
	border-width: 0;
	margin: 0;
	outline: none;
	font-size: 1em;
}