<!DOCTYPE html>
<html lang="en">
<head>
 	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<title>TChat</title>
	<link rel="stylesheet" type="text/css" href="public/css/chat.css">
	<script src="public/libs/jquery-2.2.0.min.js"></script>
	<script src="public/libs/socket.io.js"></script>
</head>
<body>
	<div class="main" data-nickname="<%= user.nickname %>">
		<div id="side-area" class="panel">
			<div id="user-info">
				<div id="user-photo"></div>
				<div id="nickname"><%= user.nickname %></div>
			</div>
			<ul id="ip-table"></ul>
		</div>
		<div id="chat-area" class="window">
			<div id="chat-area-haeder" class="window-header">
				<div id="button-wrapper">
					<div id="button-red" class="window-header-button"></div>
					<div id="button-yellow" class="window-header-button"></div>
					<div id="button-green" class="window-header-button"></div>
				</div>
				<div id="title" class="input-box">-</div>
			</div>
			<ul id="message"></ul>
			<form id="control-bar" action="">
				<input id="inputText" class="input-box" type="text" autocomplete="off"/>
				<button id="send" class="text-button">Send</button>
			</form>
		</div>
	</div>
	<script src="public/js/chat.js"></script>
</body>
</html>