<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Login</title>
	<link rel="stylesheet" type="text/css" href="public/css/login.css">
</head>
<body>
	<div id="main">
		<div class="table-cell">
			<form id="user-info" action="/login" method="post">
				<span>nikename:</span><input type="text" name="nickname"></input>
				<input type="submit"></input>
			</form>
		</div>
	</div>
</body>
</html>